/* ================================
   GLOBALNE ZMIENNE
================================ */
:root {
    --custom-yellow: rgb(255, 187, 39);
}

/* ================================
   HEADER
================================ */
#site-header {
    top: 20px; /* MENU NIŻEJ OD GÓRY STRONY */
    padding-top: 10px;
    padding-bottom: 10px;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#site-header.scrolled {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/* odsunięcie treści pod fixed header */
body {
    padding-top: 140px;
}

/* ================================
   MENU – WYGLĄD
================================ */
#site-header .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 1.8rem;          /* WIĘKSZE LITERY */
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #ffffff;
}

/* HOVER */
#site-header .navbar-nav .nav-link:hover {
    color: var(--custom-yellow);
}

/* ACTIVE */
#site-header .navbar-nav .nav-link.active {
    color: var(--custom-yellow);
    font-weight: 600;
}

/* ================================
   LOGO
================================ */
#site-header .navbar-brand span {
    font-size: 2.1rem;
}
