#site-header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#site-header.scrolled {
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/* odsunięcie treści pod fixed header */
body {
    padding-top: 100px;
}

/* POWIĘKSZENIE MENU */
#site-header .navbar-nav .nav-link {
    font-size: 28px !important;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#site-header .navbar-brand span {
    font-size: 2rem !important;
}
/* Kolor aktywnej pozycji menu */
#site-header .nav-link.active {
    color: #f5c542 !important; /* żółty */
    font-weight: 600;
}

/* Hover jak w starym menu */
#site-header .nav-link:hover {
    color: #f5c542 !important;
}
