.transition-bg {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
body {
    padding-top: 80px;
}
/* Większe menu w headerze */
#site-header .nav-link {
    font-size: 1.8rem;   /* było ~1rem, to jest +25% */
    padding-left: 1rem;
    padding-right: 1rem;
}

#site-header .navbar-brand span {
    font-size: 2rem;    /* napis Malwina & Tomasz */
}

