.transition-bg {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
body {
    padding-top: 80px;
}
